.button {
  background: linear-gradient(180deg, #ff0000, #990000);
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  text-shadow: 0 0 5px #000;
  box-shadow: 0 0 15px #ff0000aa;
  transition: 0.2s;
}

.button:hover {
  opacity: 1;
}

.button:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px #ff0000aa;
}